<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.id %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @comment.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @comment.dislikes %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p><%= link_to 'Comments', property_review_comments_path(@property, @review, @comment) %></p>