<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>	

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Rent</th>
      <th>Pets</th>
      <th>Utilities</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.address, property %></td>
        <td><%= property.bedrooms %></td>
        <td><%= property.bathrooms %></td>
        <td><%= property.rent %></td>
        <td><%= property.pets %></td>
        <td><%= property.utilities %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end%>
  </tbody>
</table>

<%= link_to 'New Property', new_property_path %>
