<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>	

<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="query">Search for Address: </label>
 <input type="search" id="query" name="q" value="<%= params[:q] %>">
 <input type="submit" value="Search">
<% end %></p>

<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="zip">Filter by City or Zip: </label>
 <input type="search" id="zip" name="z" value="<%= params[:z] %>">
 <input type="submit" value="Search">
<% end %></p>
<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="bedrooms">Filter by Bedrooms: </label>
 <input type="bedrooms" id="bedrooms" name="b" value="<%= params[:b] %>">
 <input type="submit" value="Search">
<% end %></p>
<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="bathrooms">Filter by Bathrooms: </label>
 <input type="bathrooms" id="bathrooms" name="ba" value="<%= params[:ba] %>">
 <input type="submit" value="Search">
<% end %></p>
<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="rent">Filter by Cost of Rent: </label>
 <input type="rent" id="rent" name="r" value="<%= params[:r] %>">
 <input type="submit" value="Search">
<% end %></p>
<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="pets">Filter by Pets: </label>
 <input type="pets" id="pets" name="p" value="<%= params[:p] %>">
 <input type="submit" value="Search">
<% end %></p>
<p>
 <%= form_tag properties_url, method: :get do %>
 <label for="utilities">Filter by Utility Costs: </label>
 <input type="utilities" id="utilites" name="u" value="<%= params[:u] %>">
 <input type="submit" value="Search">
<% end %></p>

<% if !@properties.empty? %>
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Rent</th>
      <th>Pets</th>
      <th>Utilities</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.address, property %></td>
        <td><%= property.city  %></td>
        <td><%= property.state%></td>
        <td><%= property.zip%></td>
        <td><%= property.bedrooms %></td>
        <td><%= property.bathrooms %></td>
        <td><%= property.rent %></td>
        <td><%= property.pets %></td>
        <td><%= display_utilities_for(property) %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
      </tr>
    <% end%>
  </tbody>
</table>
<% end %>

<p> Don't see your property? &nbsp;<%= link_to 'Add Property', new_property_path %> &nbsp; 
<%= link_to 'New Search', home_index_path %>
</p>


