<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>	

<% if !@properties.empty? %>
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Rent</th>
      <th>Pets</th>
      <th>Utilities</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.address, property %></td>
        <td><%= property.city  %></td>
        <td><%= property.state%></td>
        <td><%= property.zip%></td>
        <td><%= property.bedrooms %></td>
        <td><%= property.bathrooms %></td>
        <td><%= property.rent %></td>
        <td><%= property.pets %></td>
        <td><%= property.utilities %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end%>
  </tbody>
</table>

<% end %>
<p> Don't see your property? <%= link_to 'Add Property', new_property_path %> </p>
<%= link_to 'Back', home_index_url %>

