<p id="notice"><%= notice %></p>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<div class="bjpPropertyInfo">
  <div class="bjpPropertyDetails">
    
    <h1 id="bjpWordWrap">
      <%= @property.address %>
    </h1>
    
    <h3 id="bjpWordWrap">
      <%= @property.city %>,<%= @property.state %>&nbsp;<%= @property.zip %>
    </h3>
    
    <strong>Bedrooms:</strong>
  <% if !@property.bedrooms.empty? %>
    <p id="bjpWordWrap">
      
      <%= @property.bedrooms %>
    </p>
  <% end %>

    <strong>Bathrooms:</strong>
  <% if !@property.bathrooms.empty? %>
    <p id="bjpWordWrap">
      
      <%= @property.bathrooms %>
    </p>
  <% end %>

    <strong>Rent:</strong>
  <% if !@property.rent.equal?(0) && !@property.rent.nil? %>
    <p >
      
      <%= display_rent_for(@property) %>
    </p>
  <% end %>

    <strong>Pets:</strong>
  <% if !@property.pets.empty? %>
    <p>
      
      <%= @property.pets %>
    </p>
  <% end %>

    <strong>Utilities:</strong>
  <% if !@property.utilities.empty? %>
    <p>
      
      <%= display_utilities_for(@property) %>
    </p>
  <% end %>

    <h4>Property Description</h4>
  <% if !@property.description.empty? %>
    <div class="bjpPropertyDescription">
      
      <blockquote>
      <%= @property.description %>
      </blockquote>
    </div>
  <% end %>
<%= link_to 'New Review', new_property_review_path(@property, @review) %>
  <%= link_to 'Back', properties_path %>
    <div id="bjpPropertyRating">
      <% if @property.reviews.any? %>
        <p>
          <%= rating_for @property, "overall_rating", imdb_avg: true %>
        &nbsp; 
        </p> 
      <% else %>  
        <p>
          <%= image_tag "mid-star.png" %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="bjpGoogleMap">
    <img id="googleMap" src="http://maps.google.com/maps/api/staticmap?center=<%=@property.latitude%>,<%=@property.longitude%>&markers=icon:http://tinyurl.com/2ftvtt6|<%=@property.latitude%>,<%=@property.longitude%>&zoom=14&size=400x400&sensor=false" alt="Google Map Image" />
  </div>
</div>

<hr>
<div class="bjpReviewsWrapper">
  <% if @property.reviews.any? %>
    
      <% @property.reviews.each do |review| %>
          <div class="bjpReviewBlock">
            <div id="bjpReviewHeader">
              <p id="bjpReviewDate"><%= review.created_at.strftime("%B %d, %Y") %></p>
              <div id="bjpReviewStar">
                <%= rating_for @property, "overall_rating" %>
              </div>
            </div>
            <p id="bjpReviewScore">Likes: <%= review.score %></p>
            <p id="bjpReviewBody">
            <%= link_to review.review, property_review_comments_path(@property, review, @comment) %>
            </p> 
            <% if signed_in? %>
            <% if current_user.id = review.user_id %>
              <% if !review.has_time_passed? %>
                <p>
                  <%= link_to 'Edit', edit_property_review_path(review.property, review) %>
                </p>
                  <% if !review.comments.any? %>
                    <p><%= link_to 'Destroy', [review.property, review], :confirm => 'Are you sure?', :method => :delete %></p>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
    <% else %>
      <p> No Reviews to display. <%= link_to 'Add a review.', new_property_review_path(@property) %></p>
    <% end %>
</div>
  
