<p id="notice"><%= notice %></p>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<% if !@property.bedrooms.empty? %>
  <p>
    <strong>Bedrooms:</strong>
    <%= @property.bedrooms %>
  </p>
<% end %>

<% if !@property.bathrooms.empty? %>
  <p>
    <strong>Bathrooms:</strong>
    <%= @property.bathrooms %>
  </p>
<% end %>

<% if !@property.rent.nil? %>
  <p>
    <strong>Rent:</strong>
    <%= @property.rent %>
  </p>
<% end %>

<% if !@property.pets.empty? %>
  <p>
    <strong>Pets:</strong>
    <%= @property.pets %>
  </p>
<% end %>

<% if !@property.utilities.empty? %>
  <p>
    <strong>Utilities:</strong>
    <%= @property.utilities %>
  </p>
<% end %>

<% if !@property.description.empty? %>
  <p>
    <strong>Description:</strong>
    <%= @property.description %>
  </p>
<% end %>

<img src="http://maps.google.com/maps/api/staticmap?center=<%=@property.latitude%>,<%=@property.longitude%>&markers=icon:http://tinyurl.com/2ftvtt6|<%=@property.latitude%>,<%=@property.longitude%>&zoom=14&size=400x400&sensor=false" alt="Google Map Image" />

<br>
<br>
<hr>
  <% if @property.reviews.any? %>
    <table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Review Date</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @property.reviews.each do |review| %>
      <tr>
        <td><%= review.review %></td>  
        <td><%= review.created_at.strftime("%B %d, %Y") %></td>      
        <td><%= review.score %></td>
        <td><%= link_to 'Comments', property_review_comments_path(@property, review, @comment) %></td> 
        <td><%= link_to 'Edit', edit_property_review_path(review.property, review) %></td>
        <td><%= link_to 'Destroy', [review.property, review], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
  <% else %>
    <p> No Reviews to display. <%= link_to 'Add a review.', new_property_review_path(@property) %></p>
  <% end %>
<br>
<%= link_to 'New Review', new_property_review_path(@property, @review) %>
<%= link_to 'Back', properties_path %>
