<p id="notice"><%= notice %></p>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @property.bedrooms %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>
<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @property.pets %>
</p>

<p>
  <strong>Utilities:</strong>
  <%= @property.utilities %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<img src="http://maps.google.com/maps/api/staticmap?center=<%=@property.latitude%>,<%=@property.longitude%>&zoom=14&size=500x300&sensor=TRUE_OR_FALSE" alt="Map Image for Property" />

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
