<%= form_for([@review.property, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Property:</strong><br>
    <%= f.label @review.property.address %><br>
    <%= f.label @review.property.city + ", " + @review.property.state + ", " + @review.property.zip %>
  </div>
  <div class="field">
    <strong><%= f.label :review %>:</strong>Required<br>
    <%= f.text_area :review %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
