<p id="notice"><%= notice %></p>

<h1>Listing Reviews for:</h1>
<h3>
<%=  @property.address %><br>
<%=  @property.city %><%= "," %>
<%=  @property.state %>
<%=  @property.zip %>
</h3>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.review, [review.property, review] %></td>
        <td><%= review.likes %></td>
        <td><%= link_to 'Edit', edit_property_review_path(review.property, review) %></td>
        <td><%= link_to 'Destroy', [review.property, review], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_property_review_path %>
