<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>User</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.property_id %></td>
        <td><%= review.likes %></td>
        <td><%= review.dislikes %></td>
        <td><%= review.user_id %></td>
        <td><%= review.review %></td>
        <td><%= link_to 'Show', [review.post, review] %></td>
        <td><%= link_to 'Edit', edit_property_review_path(review.post, review) %></td>
        <td><%= link_to 'Destroy', [review.post, review], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_property_review_path %>
