<p id="notice"><%= notice %></p>

<h1>Listing Reviews for:</h1>
<h3>
<%=  @property.address %><br>
<%=  @property.city %><%= "," %>
<%=  @property.state %>
<%=  @property.zip %>
</h3>
<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Review Date</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to truncate(review.review, :length => 15), [review.property, review] %></td>  
        <td><%= review.created_at.strftime("%B %d, %Y") %></td>      
        <td><%= review.score %></td>
        <td><%= link_to 'Comments', property_review_comments_path(@property, review, @comment) %></td>
        <% if signed_in? %>
          <% if current_user.id = review.user_id %>
            <% if !review.has_time_passed? %>
              <td><%= link_to 'Edit', edit_property_review_path(review.property, review) %></td>
              <td><%= link_to 'Destroy', [review.property, review], :confirm => 'Are you sure?', :method => :delete %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_property_review_path %>
<%= link_to 'Home', home_index_url %>
<%= link_to 'Back', property_path(@property.id) %>
