<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<div style="float:left;">
  <%= button_to 'Like', like_property_review_path(@review.property, @review), method: :put %>
</div>
<div style="float:left;">
  <%= button_to 'Dislike', dislike_property_review_path(@review.property, @review), method: :put %>
</div>  
<%= @review.score %>

<br><br>

<%= link_to 'Back to property', property_path(@property) %>