<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @review.property_id %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @review.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @review.dislikes %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<%= link_to 'Like', like_property_review_path(@review.property, @review), method: :put %>
<%= link_to 'Dislike', dislike_property_review_path(@review.property, @review), method: :put %>
<%= @review.get_up_votes.size %>

<br><br>

<%= link_to 'Edit', edit_property_review_path(@review.property, @review) %> |
<%= link_to 'Back', property_reviews_path(@review.property) %>
