<p id="notice"><%= notice %></p>

 
<!--<% if @review %>-->
  <p><strong>User Rating:</strong> <%= rating_for @property, "overall_rating", disable_after_rate: true %></p>
<!--<% end %>-->

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<div style="float:left;">
  <%= button_to 'Like', like_property_review_path(@review.property, @review), method: :put %>
</div>
<div style="float:left;">
  <%= button_to 'Dislike', dislike_property_review_path(@review.property, @review), method: :put %>
</div>  
<%= @review.score %>

<br><br>

<%= link_to 'Edit', edit_property_review_path(@review.property, @review) %> |
<%= link_to 'Back', property_reviews_path(@review.property) %>