<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<div style="float:left;">
  <%= button_to 'Like', like_property_review_path(@review.property, @review), method: :put %>
</div>
<div style="float:left;">
  <%= button_to 'Dislike', dislike_property_review_path(@review.property, @review), method: :put %>
</div>  
<%= @review.score %>

<br><br>

<% if current_user %>
  <% if !@review.has_time_passed? %>
    <%= link_to 'Edit', edit_property_review_path(@review.property, @review) %> |
  <% end %>
<% end %>
<%= link_to 'Back', property_reviews_path(@review.property) %>