<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgileAvengers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="headerwrapper">
    <h1>Rental Ratings</h1>
  </div>
  
  <div class="bjpSearch">
    <%= render "/home/search" %>
  </div>
  
  
  <div class="container">

  <% flash.each do |key, value|%>
    <p><%= value %></p>
  <% end %>

  <%= yield %>
  </div>
  <footer>
    <p>&copy; Agile Avengers 2015</p>
  </footer>
</body>
</html>
